name: Tests Voici

on:
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'
  schedule:
  - cron: "0 2 * * 1-5"  # run on weekdays at 2:00am UTC

defaults:
  run:
    shell: bash -l {0}

jobs:
  test:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python_version: ['3.10']

    steps:
    - uses: actions/checkout@v4

    - name: Install Micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: environment.yml

    - name: Lint (Python)
      run: |
        python -m ruff check .
    - name: Install voici
      run: |
        python -m pip install "jupyterlite-xeus>=4.0.0,<5"
        python -m pip install python/voici-core
        python -m pip install python/voici

    - name: Install browser
      run: |
        yarn
        yarn playwright install chromium
      working-directory: ui-tests

    - name: Install dependencies and build tests
      run: |
        cd ui-tests
        yarn install --immutable
        yarn run build

    - name: Voici Test
      run: pytest tests/

    - name: UI Test
      run: yarn run test
      working-directory: ui-tests

    - name: Upload Playwright Test assets
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: voici-test-assets
        path: ui-tests/test-results

    - name: Upload Playwright Benchmark report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: voici-benchmark-report
        path: ui-tests/benchmark-results

    - name: Upload Playwright Test report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: voici-test-report
        path: ui-tests/playwright-report

    - name: Upload voici assests
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: voici-app
        path: |
          ui-tests/material
          ui-tests/lite
